<%= form_with model: @conversation do |f| %>
  <% if @conversation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>    

    <%= f.collection_select :recipient, current_user.friends.order(:first_name),:id, :first_name, include_blank: true %>
    <%= f.label :sender, current_user.id %>
    <%= f.submit %>

<% end %>
