<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :birthdate %>
    <%= form.date_select(:birthdate, include_blank: true, selected: Date.today, start_year: Date.today.year - 100, end_year: Date.today.year - 18) %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, options_for_select(User.genders.map {|k, v| [k.to_s.humanize.capitalize, v]}) %>
  </div>

  <div class="field">
    <%= form.label :sexuality %>
    <%= form.select :sexuality, options_for_select(User.sexualities.map {|k, v| [k.to_s.humanize.capitalize, v]}) %>
  </div>

  <div class="field">
    <%= form.label :race %>
    <%= form.select :race, options_for_select(User.races.map {|k, v| [k.to_s.humanize.capitalize, v]}) %>
  </div>
  
  <div class="field">
    <%= form.label :religion %>
    <%= form.select :religion, options_for_select(User.religions.map {|k, v| [k.to_s.humanize.capitalize, v]}) %>
  </div>

  <div class="field">
    <%= form.label :about_me, "About Me: " %><br />
    <%= form.text_area :about_me, id: 'about_me' %>
    <%= form.label :can_submit, 'You require 150 characters to submit.', id: 'can_submit' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {

    $('#about_me').keyup(function(){
      var minimum_characters = 150;
      var count = $("#about_me").val().length;
      var how_many_we_require = minimum_characters - count;
      if (how_many_we_require < 0)
      {
        how_many_we_require = 0;
      }
      var text_to_show = 'You require ' + how_many_we_require + ' characters to submit.';
      if (count >= 3000)
      {
        text_to_show = 'You have went over the maximum number of characters, 3000. Please shorten it. You currently are using: ' + count + ' characters.';
      }
      var can_submit = $('#can_submit');
      can_submit.text(text_to_show);
    });
  });
  </script>
