<style>
.hidden
{
    display: none;
}
</style>

<div class="row">
    <div class="col">
        <p>
            <%= image_tag(url_for(@user.profile_picture), size: "150x150") %> <br />
            <%= @user.first_name %> <%= @user.last_name %> <br />
            Country: <%= @user.location.country %> <br />
            State: <%= @user.location.state %> <br />
        </p>
    </div>
    <div class="col">
    <% if current_user == @user %>
        <%= form_with model: @post, id: 'post_form' do |f| %>
            <div class="form-group">
            <%= f.text_area :body, class: 'form-control', id: 'message_body' %>
            <%= f.select :post_visibility, options_for_select(User.viewability_levels.map {|k,v| [k.humanize.capitalize, v]}) %>
            <%= f.submit "Post", class: 'btn btn-primary' %>
            <%= recaptcha_tags %>
            <span id="captcha_error" style="color:red;" class="hidden">Please submit your captcha.</span>
            </div>
        <% end %>
    <% end %>
    </div>
</div>

<div class="row">
    <div class="col"></div>
    <div class="col">
        <%= react_component("Profile", { user_id: @user.id }) %>
    </div>
</div>

<script type="text/javascript">


$(document).ready(function ()
{

    $("#post_form").bind('ajax:error', function(response, status, xhr) {
        if (response.detail[0].status == "fail") {
            $("#captcha_error").removeClass("hidden");
        }
    })

    $("#post_form").bind("ajax:success", function(data, status, xhr) {

        grecaptcha.reset();

        var value = $('#message_body').val();
        if (value == "" || value == undefined)
        {
            return;
        }

        $('#message_body').val('');

        var li = document.createElement("li");
        li.setAttribute('class', 'list-group-item');

        var article = document.createElement("article");
        article.setAttribute('class', 'card');
        li.appendChild(article);

        var span_message_body = document.createElement("span");
        span_message_body.textContent = value;
        span_message_body.setAttribute('class', 'card-body');
        article.appendChild(span_message_body);

        var div_date = document.createElement("div");
        var date = new Date();
        var date = "Posted: " + Number(date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear()
        div_date.textContent = date;
        span_message_body.prepend(div_date);

        var element = document.getElementById("profile_posts_list");
        element.prepend(li);

    });

});

</script>