<h1>Welcome to FindAFriend</h1>
<p>If you do not have an account, then you were not invited here. This is an invite only website.</p>

<h1>Login</h1>
<%= form_for(:user, :url => session_path(:user)) do |f|%>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>  
  <div class=”actions”>
    <%= f.submit "Login", class: 'btn btn-primary' %>
  </div>
<% end %>
<%= link_to  "Sign Up", new_user_registration_path %>
