<h1>Post new reply </h1>
<%= form_with model: @post do |f| %>
    <div class="form-group">
        <%= f.text_area :body, class: 'form-control', id: 'message_body' %> <br />
        <%= f.hidden_field :board_thread_id, value: @thread.id %>
        <%= recaptcha_tags %>
        <br />
        <%= f.submit "Post", class: 'btn btn-primary' %>
    </div>
<% end %>

<h1 class="text-center"> <%= @thread.title %> </h1>
<ul class="list-group">

    <nav aria-label="breadcrumb">
        <ol class='breadcrumb'>
            <% breadcrumb_trail do |crumb| %>
            <li class="breadcrumb-item <%= crumb.current? ? 'active' : '' %>">
                <%= link_to_unless crumb.current?, crumb.name, crumb.url, (crumb.current? ? {'aria-current' => 'page'} : {}) %>
            </li>
            <% end %>
        </ol>
    </nav>

    <li class="list-group-item clearfix text-dark">
        <%= link_to @thread.user do %>
                <%= @thread.user.first_name %>
        <% end %>
        <small><%= @thread.created_at %></small>
        <p>
            <%= @thread.body %>
        </p>
    </li>

    <% @posts.each do |post| %>
        <li class="list-group-item clearfix text-dark">
            <%= link_to post.user do %>
                <%= post.user.first_name %>
            <% end %>
            <small><%= post.created_at %></small>
            <p>
                <%= post.body %>
            </p>
        </li> <br />
    <% end %>
</ul>