<ul class="list-group">
<nav aria-label="breadcrumb">
  <ol class='breadcrumb'>
    <% breadcrumb_trail do |crumb| %>
      <li class="breadcrumb-item <%= crumb.current? ? 'active' : '' %>">
        <%= link_to crumb.name, crumb.url, (crumb.current? ? {'aria-current' => 'page'} : {}) %>
      </li>
    <% end %>
  </ol>
</nav>

    <%= button_to "New Thread", new_board_thread_path, params: {board: @board.id} , method: :get, class: 'btn btn-primary' %>
    <br />
    
    <% unless @threads.nil? %>
    
        <% @threads.each do |thread| %>
            <% if thread.soft_deleted? %>
              <% if user_signed_in? %>
                <% if !current_user.admin? %>
                  <% next %>
                <% end %>
              <% else %>
                <% next %>
              <% end %>
            <% end %>

            <li class="list-group-item clearfix text-dark">
              <% if !current_user.nil? && current_user.admin? %>
                  <%= check_box_tag "thread_ids[]", thread.id %>
                    <% if thread.soft_deleted? %>
                      <small>THREAD IS ONLY VIEWABLE TO ADMINS</small>
                    <% end %>
                  <% end %>
              <%= thread.user.first_name %>

              <%= link_to thread, class: 'link_no_styling' do %>
                  <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"><%= thread.title %></h5>
                  <small><%= thread.created_at %></small>
                  </div>
                  <p class="mb-1"><%= thread.body %></p>
              <% end %>
            </li>
        <% end %>
    
      <% if !current_user.nil? && current_user.admin? %>
        <%= label_tag "Admin Actions" %> <br />
        <%= form_with(url: delete_multiple_threads_path) do |f| %>
          <div class="btn-group-vertical">
              <%= f.button 'Delete', class: 'btn btn-danger' %>
              <%= f.hidden_field :thread_ids, multiple: true %>
          </div>
        <% end %>

        <%= form_with(url: delete_threads_and_ban_users_path) do |f| %>
          <div class="btn-group-vertical">
              <%= f.button 'Delete and Ban User', class: 'btn btn-danger' %>
              <%= f.hidden_field :thread_ids, multiple: true %>
          </div>
        <% end %>

        DevNote: All checkboxed threads will have the same action applied to them (ban user, or delete user..etc).
      <% end %>

    <% end %>

    <% if @threads.nil? %>
        No threads on this board currently.
    <% end %>
    
    <br />
</ul>

<script type="text/javascript">
$(document).ready(function()
{
  var checked_checkboxes = []

  $("input[type='checkbox']").on('change', function()
  {
    if (this.checked)
    {
      checked_checkboxes.push(this.value)
      $("input[type='hidden'][id='thread_ids'").val(checked_checkboxes)
    }
    else 
    {
      var base_value = this.value
      var filteredArray = checked_checkboxes.filter(function(value, index, arr){
          return value != base_value
      })
      checked_checkboxes = filteredArray
      $("input[type='hidden'][id='thread_ids']").val(checked_checkboxes)
    }
  })

})
</script>