<%= link_to 'Home', root_path %>
<%= link_to 'Find a Friend', findafriend_path %>
<%= link_to 'Logout', logout_path %>
<%= link_to 'Edit User Details', edit_user_path(current_user) %>
<span> add link to delete user </span>
<p id="notice"><%= notice %></p>

<%= react_component("Activities") %>

