<ul class="nav nav-pills">
<li class="nav-item">
<%= link_to 'Home', root_path, class: 'nav-link' %>
</li>
<li class="nav-item">
<%= link_to 'Find a Friend', findafriend_path, class: 'nav-link' %>
</li>
<li class="nav-item">
<%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link'%>
</li>
<li class="nav-item">
<%= link_to 'Edit User Details', edit_user_registration_path(current_user), class: 'nav-link'%>
</li>

<span> add link to 1 on 1 chats and chat rooms </span>
</ul>

<style>
td {
  word-break: break-all;
}
</style>

<%= react_component("FindAFriendSearch") %>



<script type="text/javascript">

window.setup_datatable = function setup_datatable()
{
  var table = $('#friendo-datatable').DataTable();

    //{
    //  "paging": true,
    //  "language": {
    //    "emptyTable": "No friends available."
   //   }
   // });

}

function sendMessage()
{
    var data = { message: 'i like chicken', author: 'daniel' };
    sendData(data);
}

</script>

<button onclick="sendMessage()">Click me</button>