<% if user_signed_in? %>
<ul class="nav nav-pills">
<li class="nav-item">
<%= link_to 'Home', root_path, class: 'nav-link' %>
</li>
<li class="nav-item">
<%= link_to 'Find a Friend', findafriend_path, class: 'nav-link' %>
</li>
<li class="nav-item">
<%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link'%>
</li>
<li class="nav-item">
<%= link_to 'Edit User Details', edit_user_registration_path(current_user), class: 'nav-link'%>
</li>
<li class="nav-item">
<%= link_to 'Conversations', conversations_path, class: 'nav-link' %>
</li>
<li class="nav-item">
<%= link_to 'Chat Rooms', show_chat_rooms_conversations_path, class: 'nav-link' %>
</li>

<span> add link to 1 on 1 chats and chat rooms </span>
</ul>
<% end %>
