<% if user_signed_in? %>
<ul class="nav nav-pills justify-content-center">
<li class="nav-item">
<%= link_to 'Home', root_path, class: 'nav-link' %>
</li>
<li class="nav-item">
<% if current_page?(user_path(current_user)) %>
    <%= link_to 'Profile', user_path(current_user), class: 'nav-link active' %>
<% else %>
    <%= link_to 'Profile', user_path(current_user), class: 'nav-link' %>
<% end %>
</li>
<li class="nav-item">
<%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link'%>
</li>
<li class="nav-item">
<% if current_page?(edit_user_registration_path(current_user)) %>
    <%= link_to 'Edit User Details', edit_user_registration_path(current_user), class: 'nav-link active' %>
<% else %>
    <%= link_to 'Edit User Details', edit_user_registration_path(current_user), class: 'nav-link' %>
<% end %>

</li>
<li class="nav-item">
<% if current_page?(conversations_path) %>
    <%= link_to 'Conversations', conversations_path, class: 'nav-link active' %>
<% else %>
    <%= link_to 'Conversations', conversations_path, class: 'nav-link' %>
<% end %>
</li>
<li class="nav-item">
<% if current_page?(show_chat_rooms_conversations_path) %>
    <%= link_to 'Chat Rooms', show_chat_rooms_conversations_path, class: 'nav-link active' %>
<% else %>
    <%= link_to 'Chat Rooms', show_chat_rooms_conversations_path, class: 'nav-link' %>
<% end %>
</li>
<li class="nav-item">
<% if current_page?(photo_albums_path) %>
    <%= link_to 'Photo Albums', photo_albums_path, class: 'nav-link active' %>
<% else %>
    <%= link_to 'Photo Albums', photo_albums_path, class: 'nav-link' %>
<% end %>
</li>
<li class="nav-item">
<% if current_page?(boards_path) %>
    <%= link_to 'Boards', boards_path, class: 'nav-link active' %>
<% else %>
    <%= link_to 'Boards', boards_path, class: 'nav-link' %>
<% end %>
</li>
</ul>
<% end %>


<br />