<!DOCTYPE html>
<html>
  <head>
    <title>FindAFriend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>

  </head>

  <body>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      <% if user_signed_in? %>
        <br />
        <h2> Friends List </h2>
        <%= react_component("FriendsList") %>
      <% end %>
    </div>
  </body>
</html>
